html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: block;
    font-family: 'NC Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    text-transform: full-width;
}

.start_screen {
    width: 320px;
    min-height: 580px;
    background: #51d0de;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck {
    width: 320px;
    min-height: 580px;
    background: #51d0de;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 80px;
    width: 60px;
    font-size: 0;
    background: #bf4aa8;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 8px 20px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.card {
  background: #bf4aa8;
}

/*Insert pictograms */
.百::before {
  font-weight: bold;
  color: black;
  content: "百";
}

.千::before {
  font-weight: bold;
  color: black;
  content: "千";
}

.万::before {
  font-weight: bold;
  color: black;
  content: "万";
}

.上::before {
  font-weight: bold;
  color: black;
  content: "上";
}

.中::before {
  font-weight: bold;
  color: black;
  content: "中";
}

.下::before {
  font-weight: bold;
  color: black;
  content: "下";
}

.左::before {
  font-weight: bold;
  color: black;
  content: "左";
}

.右::before {
  font-weight: bold;
  color: black;
  content: "右";
}

.大::before {
  font-weight: bold;
  color: black;
  content: "大";
}

.小::before {
  font-weight: bold;
  color: black;
  content: "小";
}

.deck .card.open {
    font-size: 33px;
    transform: rotateY(0);
    background: #f0f0f0;
    cursor: default;
}

.deck .card.match {
    cursor: default;
    background: #d9d9d9;
    font-size: 33px;
}

/* styling for game_panel*/
.game_panel, .landing_panel {
    display:inline-flex;
    width: 100%;
    justify-content: space-between;
}

.btn-secondary {
  background: #76f44b;
  box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

#moves_label {
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #6c757d;
  box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

#start {
  margin-bottom: 0;
  margin-left: 90%;
  margin-right: 0%;
  position: relative;
}

#restart {
  margin-bottom: 0;
  margin-left: 0%;
  position:relative;
}

#reset {
  margin-bottom: 0;
  margin-right: 0%;
  position:relative;
}

/*Style for the congratulations modal*/

#congrat {
  display: block;
}

.modal {

    top : 0;
    right : 0;
    bottom : 0;
    left : 0;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-width: 500px; /*was 360px*/
    padding : 40px;
    margin: 5em auto;
    border-radius: 10px;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header {
    display: inline-flex;
    width: 100%;
    padding: 0;
}

.modal-title {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
}

.modal-elements .modal-image {
    display: inline-block;
    align-items: center;
}

.modal-message {
    font-size: 2em;
    text-align: center;
}

.close_modal_btn {
  margin-left: 90%;
}

.modal-footer {
  align-items: end;
}

/*media queries */
/*Extralarge devices (desktops, 1280px and up)*/
@media (min-width: 1280px) {
  .container {
    margin-top: 0rem;
    }

    .start_screen {
      width: 1340px;
      min-height: 640px
      }
    h4 {
        font-size: 48px;
      }

    .start_text {
        font-size: 30px
      }

    #start {
        height: 42px;
        width: 40px;
      }

    .deck {
      width: 1340px;
      min-height: 640px
      }
      .deck .card {
          height: 180px;
          width: 120px;
        }

      .deck .card.open, .deck .card.match {
          font-size: 60px;
        }

      .game_panel, .landing_panel {
            font-size: 28px;
          }

      .modal-footer {
        font-size: 25px;
        }
}

/*media queries */

/*Extralarge devices (desktops, 1200px and up)*/
@media (max-width: 1279px) and (min-width: 1025px) {
.container {
  margin-top: 0rem;
  }

.start_screen {
  width: 920px;
  min-height: 440px
  }

h4 {
  font-size: 48px;
  }

.start_text {
  font-size: 30px
  }

#start {
  height: 42px;
  width: 40px;
  }

.deck {
  width: 1040px;
  min-height: 640px
  }

.deck .card {
  height: 180px;
  width: 120px;
  }

.deck .card.open, .deck .card.match {
  font-size: 60px;
  }

.game_panel, .landing_panel {
  font-size: 28px;
  }

.modal-footer {
  font-size: 25px;
  }
}


/*Medium devices (tablets, 768px and up)*/
@media (max-width: 1023px) and (min-width: 768px ) {
.container {
  margin-top: 0rem;
  }

.start_screen {
  width: 740px;
  min-height: 940px
  }

h4 {
  font-size: 48px;
  }

.start_text {
  font-size: 30px
  }

#start {
  height: 42px;
  width: 40px;
  }

.deck {
  width: 740px;
  min-height: 940px
  }

.deck .card {
  height: 180px;
  width: 120px;
  }

.deck .card.open, .deck .card.match {
  font-size: 60px;
  }

.game_panel, .landing_panel {
  font-size: 28px;
  }

.modal-footer {
  font-size: 25px;
  }
}

/* small devices (less than 540px)*/
@media (max-width: 540px) {
.container {
    margin-top: 1.5rem;
    }
.header_name {
    display: none;
    }
}
